.producto {
    border: 0.5px solid #ddd;
    padding: 20px;
    width: 33%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

.titulo{
    text-align: center;
  }

.agotado{
    background-color: rgb(255, 178, 178);
    padding: 3px;
    font-weight: lighter;
    color: rgb(155, 0, 0);
    border-radius: 3px;
  }

.btn{
    padding: 5px;
    text-transform: uppercase;
  }

  .btn:hover{
    cursor: pointer;
  }

.disabled{
    color: grey;
    padding: 5px;
    text-transform: uppercase;
    cursor: not-allowed;
    pointer-events: none;
    border: grey;
}